{{page-title "TestApp"}}

<div class="p-12">
  <h2 id="title">Welcome to Ember</h2>

  <Form @onSubmit={{this.handleSubmit}} as |form|>
    <form.Submit>
      My Submit Button!
    </form.Submit>
  </Form>

  {{outlet}}
</div>